@charset "utf-8";
/* CSS Document */

/* layout */
.wrapper{width:100%;min-width:1200px;height:100%;background:#fff;}
.header_wrap{width:100%;height:100px;background: #fff;box-sizing:border-box;box-shadow: 0 1px 4px 0 rgba(40, 40, 40, 0.1);}
.header_wrap:after{content:"";display:block;clear:both;}
.header{position:relative;padding:16px 0;width:1200px;height:100px;margin:0 auto;box-sizing:border-box;}
.header:after{content:"";display:block;clear:both;}
.content_wrap{position:relative;min-height: 100vh;} /*background: #f8f8f8;*/
.container{position:relative;width:1200px;margin:0 auto;}
.container:after{content:"";display:block;clear:both;}

/* icon */
.ico_calendar{position:absolute;top: 8px;right:4px;width: 16px;height: 16px;background:url(../images/ico_calendar.png) 0 0 no-repeat;}
.ico_start{position:relative;top:-1px;width:16px;height:16px;background-image:url(../images/ico_start.png);vertical-align:middle;margin: 10px;}
.ico_prev{display: block;background-image:url(../images/ico_prev.png);background-position: center;}
.ico_next{position:relative;top:-1px;width:16px;height:16px;background-image:url(../images/ico_next.png);vertical-align:middle;margin: 10px;}
.ico_end{display: block;background-image: url(../images/ico_end.png);background-position: center;}

/* header */
.top{float:left;}
.top:after{content:"";display:block;clear:both;}
.top .logo{float:left;margin-right:107px;}
.top .logo > a{display:block;}
.top .logo img{position:relative;width:200px;height: 68px;vertical-align:middle;}

.sch_wrap{float:left;width: 893px;margin: 14px 0;position: relative;}
.sch_word_wrap{float: left;width: 483px;border: 1px solid #005bac;background-color: #fff;}
.sch_word_wrap:after{content:"";display:block;clear:both;}
.sch_box{float:left;height:40px;padding:9px 10px 10px 10px;box-sizing:border-box;}
.sch_box:after{content:"";display:block;clear:both;}
.sch_box .sch_inp{float:left;width: calc(100% - 25px);box-sizing:border-box;font-weight:500;}

.board_select_box{position:absolute;top:0;right:0;}
.select_sch_box{position:relative;float:left;}
.inp_txt{width:162px;height:34px;padding:8px 6px;box-sizing: border-box;}
.select_sch_box .btn_option.word{width: 69px;height:35px;padding: 8px 6px;}
.select_sch_box.board{border:1px solid #d9d9d9;color: #282828;}
.select_sch_box.board + .select_sch_box.board{margin-left:10px;}
.select_sch_box.board .btn_option.sch{width:72px;height: 25px;padding: 4px 4px 3px 8px;box-sizing:border-box;color:#282828;}
.select_sch_box.board .option_inner_box.sch{top: 25px;left: -1px;width: 74px;/* padding: 3px 8px 4px; */border: 1px solid #d9d9d9;box-sizing: border-box;box-shadow: none;}
.select_sch_box.board .option_item .option_link{color:#282828;padding: 3px 8px 4px;}
.select_sch_box.board .option_item + .option_item{border-top:1px solid #d9d9d9;}

.select_sch_box1{position:relative;float:left;}
.select_sch_box1 .btn_option.word{width: 69px;height:35px;padding: 8px 6px;}
.select_sch_box1.board{border:1px solid #d9d9d9;color: #282828;}
.select_sch_box1.board + .select_sch_box.board{margin-left:10px;}
.select_sch_box1.board .btn_option.sch{width:72px;height: 25px;padding: 4px 4px 3px 8px;box-sizing:border-box;color:#282828;}
.select_sch_box1.board .option_inner_box.sch{top: 25px;left: -1px;width: 74px;/* padding: 3px 8px 4px; */border: 1px solid #d9d9d9;box-sizing: border-box;box-shadow: none;}
.select_sch_box1.board .option_item .option_link{color:#282828;padding: 3px 8px 4px;}
.select_sch_box1.board .option_item + .option_item{border-top:1px solid #d9d9d9;}

.board_select_box{position:absolute;top:0;right:0;}
.btn_option{position: relative;font-size:12px;font-weight:500;display:inline-block;width: 95px;height: 40px;line-height: 18px;padding: 10px 6px 10px 14px;background:#fff;box-sizing:border-box;text-align:left;color: #666;}
.btn_option .ico_arrow{float:right;width:20px;height: 20px;background-image: url(../images/select_arr_down.png);}
.btn_option .ico_arrow.is_active{background:url(../images/select_arr_up.png);}
.btn_option.doc{width:72px;height:25px;padding: 5px 4px 4px 8px;color: #282828;font-weight: normal;position: relative;z-index: 500;}
.btn_option.doc .ico_arrow{width:16px;height:16px;background-image: url(../images/select_arr_down01.png);}


.option_inner_box{display:none;position:absolute;top: 42px;left:0;width:95px;background:#fff;z-index: 30;overflow-y:auto;-ms-overflow-y:auto;box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);border-radius: 0 0 4px 4px;}
.option_inner_box.sch{width: 69px;top: 35px;}
.sch_box .sch_btn{float:right;width:20px;height:20px;background: url(../images/arrow_drop_down.png) no-repeat center;box-sizing: border-box;}
.sch_box .sch_btn.is_active{;background: url(../images/arrow_drop_up.png) no-repeat center;}
.option_item .option_link{display:block;height: 26px;line-height: 18px;color: #666;padding: 4px 10px;font-size:12px;box-sizing: border-box;}
.btn_option.is_active .ico_arrow{background-image:url(../images/select_arr_up.png)}
.btn_option.is_active+.option_inner_box{display:block;}
.option_item .option_link:hover,.option_item .option_link:active,.option_item .option_link:focus,.option_item.is_active .option_link{background:#f3f3f3;}


.sch_opt{float: right;width: 388px;height: 40px;margin-left: 20px;}
.btn{display:inline-block;min-width: 92px;height:40px;font-weight: 500;padding: 9px 0 10px;border-radius:4px;text-align:center;line-height:22px;color:#fff;box-sizing:border-box;}
.btn + .btn{margin-left:6px;}
.layer_bottom .btn + .btn{margin-left:4px}
.btn.gray{background-color:#333;}
.btn.blue{background-color:#00582d;}

.chk_box_group{float:right;position:relative;top:11px;}
.terms_area .inp_chk + .sc_name{margin-right: 10px;}
.inp_chk + .sc_name{cursor:pointer;}
.inp_chk + .sc_name.another{display:inline-block;}
.inp_chk + .sc_name .chk_img{display:inline-block;width: 18px;height: 18px;background: url(../images/bg_chk.png) 0 0 no-repeat;background-size:contain;vertical-align:top;margin-right:2px;}
.inp_chk + .sc_name .chk_img.terms{position: relative;top: -1px;background: url(../images/bg_terms_chk.png) 0 0 no-repeat;background-size:contain;}
.inp_chk:checked + .sc_name .chk_img{background:url(../images/bg_chk_on.png) 0 0 no-repeat;background-size:contain;}

.layer_pop{display:none; position: relative;width:1200px;min-height: 181px;padding: 20px;background:#badfb8;box-sizing:border-box;}
.cont_btn_group:after{content:"";display:block;clear:both;}
.inp_txt_box{float:left;}
.inp_tit{display:block;}
.inp_tit + .cont_btn_group{margin-top:6px;}
.inp_tit + .cont_btn_group.terms{margin-top:12px;}
.btn_option.sch{float: left;width:69px;height: 34px;padding:8px 6px;}
.cont_btn_group + .cont_btn_group{margin-top:6px;}

.inp_area.calendar{position:relative;}
.terms_area + .terms_area{margin-top:16px;}
.terms_area:after{content:"";display:block;clear:both;}
.inp_txt_box + .inp_txt_box{margin-left:30px;}
.inp_txt_box .inp_box{margin-top: 25px;}
.inp_box + .inp_box:before{content:"~";display:inline-block;width:9px;height:14px;color:#333;vertical-align: middle;}
.inp_name{min-width:49px;}
.inp_name.direct{float:left;}
.inp_radio + .inp_name{position:relative;top:0;left: 0;background: url(../images/bg_radio.png) 0 0 no-repeat;background-size: 18px 19px;cursor:pointer;line-height: 19px;padding: 0px 10px 0 26px;min-width: 20px;}
.inp_radio + .inp_name.direct{top: 6px;}
.inp_radio:checked + .inp_name{background: url(../images/bg_radio_on.png) 0 0 no-repeat;background-size:18px 19px;}
.inp_calendar{float:left;position: relative;}
.inp_calendar + .inp_calendar:before{content:"~";display:inline-block;margin: 0 6px;color: #282828;}
.inp_area .inp_txt{width:110px;height: 34px;font-size: 13px;padding:9px 4px;border-radius: 4px;background:#fff;box-sizing:border-box;}

.select_box{display:inline-block;width:200px;height:24px;padding:0 6px;background:#fff;border:1px solid #e8e8e8;box-sizing:border-box;}
.layer_bottom{position: absolute;bottom:21px;right:20px;}
.layer_bottom .btn{min-width: 69px;padding:8px 0;border-radius:3px;color:#fff;font-weight:600;}
.layer_bottom .btn.apply{background:#3d706e;}

.auto_keyword{display:none; position:absolute;top:42px;left:103px;width:376px;background:#fff;z-index:100;border-top:0;box-sizing:border-box;box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);overflow: hidden;border-radius: 0 0 4px 4px;}
.auto_keyword ul{height: 130px;overflow-y: auto;-ms-overflow-y: auto;}
.auto_keyword ul li a{display:block;height: 26px;line-height: 18px;font-size:12px;padding: 4px 10px;color:#282828;box-sizing: border-box;}
.auto_keyword ul li a span{color: #005bac;}
.auto_keyword .auto_action{margin-top: 10px;height:31px;padding:8px 10px;background-color:#f8f8f8;box-sizing:border-box;text-align:right;}
.auto_keyword .auto_action .auto_txt{font-size:10px;color:#999;}
.auto_keyword ul li a:focus,.auto_keyword ul li a:hover,.auto_keyword ul li a:active,.auto_keyword ul li a.is_active{background-color: #f3f9ff;}


/* container */
.result_txt{padding-top:20px;text-align:center;font-size:16px;color:#000;}
.point{color:#005bac;}
.point1{color:#ac0000;}
.result_txt + .tab_menu_wrap{margin-top:20px;}
.tab_menu_wrap{background: #fff;box-shadow: inset 0 -1px 0 0 #00582d;}
.tab_menu_list{display:table;table-layout: fixed;width:1200px;margin: 0 auto;}
.tab_menu_item{display:table-cell;text-align:center;}
.tab_menu_item.active .tab_menu_link{color:#fff;font-weight: bold;box-shadow: inset 0 -1px 0 0 #005bac;background-color: #00582d;}
.tab_menu_item .tab_menu_link{display:block;height: 50px;line-height: 28px;padding: 10px;color: #fff;font-size: 16px;color: #282828;font-weight: 500;box-sizing: border-box;}
.tab_menu_list.cont .tab_menu_item .tab_menu_link{height:65px;padding:12px 0 13px;background:#f8f8f8;box-sizing:border-box;}

.cont_box{float:left;width: 1200px; margin-top: 20px;}
/*.tab_cont{display:none;}
.tab_cont.active{display:block;}
.tab_cont{display:block;}
.tab_cont{position: relative;padding: 30px 30px 50px 30px;background:#fff;} /*min-height:758px;*/
.option_box{width:100%;height:45px;padding: 9px 20px;box-sizing:border-box;background:#f8f8f8;}
.option_box.sch{position:relative;height:auto;}
.option_top .tit{display:inline-block;line-height:1.8;}
.option_top .btn_detail{position:absolute;top:0;right:0;padding:15px 20px;}
.detail_sch_box{width:100%;height:243px;padding:20px;border-top:1px solid #d2d2d2;background:#f8f8f8;box-sizing: border-box;}
#cont_box-3-line .tab_cont_box{box-shadow: inset 0 -1px 0 0 #d9d9d9;}

.board_box{position:relative; padding:20px 30px;}
.board_cont_box{position:relative; margin-top:20px;}
.board_tit_box + .board_cont_box{margin: 30px 0px;}
.board_cont_box + .board_cont_box{margin: 30px 0px;}
.board_tit_box{position:relative;height: 25px;}
.board_tit_box .tit{font-size:20px;font-weight:500;color:#005bac;}
.board_tit_box .num{font-size:12px;color:#999;}
.board_cont_box{position:relative;}
.board_cont_box .tit_box .tit{display:block;font-size: 16px;
 font-weight:bold;color:#282828;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.board_cont_box .date{position: absolute;top: 30px;right: 0;font-size:12px;color: #999;}
.board_cont_box .cont{margin-top: 10px;width:calc(100% - 102px);line-height: normal;color:#000;font-size: 12px;}
.board_cont_box .tit_info{margin-top:14px;color:#999;font-size: 12px;}
.btn_more_group{position:absolute;    top: 50px;
    right: 33px;display:block;}
.btn_more_group .btn_more{color:#005bac;vertical-align: top;}
.btn_more{float:right; color:#005bb4;}
.btn_more_group:after{display: inline-block;width:16px;height:16px;background:url(../images/btn_more.png) 0 0 no-repeat;}

.page_btn_num{position:relative;height: 25px;color:#999;text-align:center;}
.page_btn_num .right:hover,.page_btn_num .left:hover{border:0;}
.page_btn_num a:hover{border:1px  solid #dfdfdf;}
.page_btn_num .num{box-sizing:border-box;display:inline-block;width: 32px;height: 32px;line-height: 30px;color: #282828;vertical-align: top;font-size: 13px;border-radius: 4px;border: solid 1px #d9d9d9;background: #fff;font-weight: 600;}
.page_btn_num .num + .num{margin-left: 2px;}
.page_btn_num .num.click{color:#fff;border: 1px solid #005bac;background: #005bac;}
.btn_num .right.click{box-sizing:border-box;background-color:#fff;color:#0054b3;font-weight:bold;border:1px solid #0054b3;}
.page_btn_num .num.bd_none{border:none;}
.num.active {background-color: #005bac; color: #fff;}

.no_result{margin-top:20px;text-align:center;}
.no_result .result_tit{font-size:20px; font-weight:500;color:#282828;margin-bottom:20px;}
.result_list{width:383px;margin:0 auto;padding:20px;text-align:left;border-top: 1px dotted gray;border-bottom: 1px solid #bbb;}
.result_list li{font-size:12px;color:#000;list-style: '✓ ';}
/* .result_list li:before{content:"";position: relative;top: -2px;margin-right: 4px;display:inline-block;width:3px;height:3px;background:#000;border-radius:50%;} */
.result_list li + li{margin-top:9px;}
.selectpicker1{display: inline;width: 69px;height: 34px;font-size: 12px;font-weight: 500;color: #666;}
.selectpicker{display: inline;width: 69px;height: 34px;font-size: 12px;font-weight: 500;color: #666; border: 1px solid;}
.mainselectpicker{display: inline;height: 40px;font-size: 12px;font-weight: 500;color: #666;padding: 9px 10px 10px 10px;width: 110px;}

#query{width: 330px;height: 23px; outline: none;}